body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    background-color: #000000;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    margin-right: 10px;
    width: 100px; /* Adjust the width as needed */
    height: auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.product {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 16px;
    text-align: center;
    margin: 10px;
    background-color: white;
    flex: 1 0 21%; /* Adjusts the basis for flex items */
    box-sizing: border-box;
}

.product img {
    width: 100%;
    max-width: 200px;
    height: auto;
}

.product h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.product p {
    font-size: 1em;
    margin: 10px 0;
}
